---
layout: base.njk
title: Blog
permalink: /blog/
---

<section class="rd-blog">
  <div class="rd-blog-wrap">
    <h1 class="rd-blog-title">Insights & Strategy</h1>

    <div class="rd-blog-grid">
      {% for post in collections.blog | reverse %}
        <article class="rd-blog-card">
          <a href="{{ post.url }}">
            <h2>{{ post.data.title }}</h2>
          </a>

          <p class="rd-blog-date">
            {{ post.date | date("MMMM d, yyyy") }}
          </p>

          {% if post.data.description %}
            <p class="rd-blog-desc">
              {{ post.data.description }}
            </p>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </div>
</section>